@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('/fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('/fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Italic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('/fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('/fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('/fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Black.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Light.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('/fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('/fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
        url('/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('/fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Thin.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
html, body {
    min-width: 320px;
}
body {
    background-color: #fff;
}
table {
    width: 100%;
    border-color: #9E9E9E;
    td {
        padding: 10px;
        p {
            margin: 0;
        }
    }
}



*:focus {
    outline: none !important;
}
.clear-space {
    clear: both;
}
.body {
    // text-align: justify;
    img {
        object-fit: contain;
        max-width: 100%;
        // height: 408px;
        // width: 100%;
        border-radius: 10px;
        // margin: 0 !important;
        // float: none !important;
    }
}
p.empty {
    color: #c63233;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
}
header {
    .header-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p, h3 {
            margin: 3px 0;
        }
        h3 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
        }
        .rates {
            // width: 25%;
            min-height: 54px;
            > p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #838383;
            }
            .box-rates {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .minus {
                    color: #F14A4A;
                    position: relative;
                    margin-left: 4px;
                }
                .plus {
                    color: #4FCE5C;
                    position: relative;
                    margin-left: 4px;
                }
                p {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8px;
                    line-height: 9px;
                    color: #838383;
                    display: flex;
                    align-items: center;
                    > .minus::before {
                        content: "-"
                    }
                    > .plus::before {
                        content: "+"
                    }
                }
                h3 {
                    display: flex;
                }
            }
        }
        .links {
            width: 75%;
            > ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: 100%;
                > li {
                    position: relative;
                    > a {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #c63233;
                        text-decoration: none;
                        &:hover {
                            opacity: .5;
                        }
                    }
                    ul.submenu {
                        position: absolute;
                        left: 0;
                        background-color: #fff;
                        min-width: 110%;
                        width: max-content;
                        padding: 10px 13px;
                        border-radius: 0 0 5px 5px;
                        transition: all .3s ease;
                        transform: translateY(-5px);
                        opacity: 0;
                        z-index: -1;
                        box-shadow: 0px 5px 10px -10px #c63233;
                        > li {
                            list-style-type: none;
                            > a {
                                font-family: "Roboto";
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 16px;
                                color: #c63233;
                                text-decoration: none;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                        }
                    }
                    &:hover > ul.submenu{
                        transform: translateY(0);
                        opacity: 1;
                        z-index: 222;
                    }
                }
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .header_right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .soc {
            > a {
                margin-right: 8px;
                &:hover path {
                    fill: #c63233;
                }
            }
        }
        .buttons-ui {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: 100%; 
                a {
                    margin-right: 10px;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #838383;
                    text-decoration: none;
                    line-height: 15px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    line-height: 15px;
                    &:hover {
                        opacity: .5;
                    }
                    > svg {
                        margin-right: 5px;
                    }
                }
            }
            .input-search {
                position: absolute;
                background: #FFFFFF;
                border: 1px solid #9B9B9B;
                border-radius: 6px;
                right: 0;
                top: 14px;
                width: 0;
                padding-left: 30px;
                background-image: url(/images/search.svg);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 2px center;
                transition: all .3s ease;
                opacity: 0;
                &.active {
                    width: 100%;
                    opacity: 1;
                }
                &:focus {
                    outline: none;
                }
            }
            .close-search {
                position: absolute;
                right: -19px;
                top: 5px;
                font-size: 26px;
                cursor: pointer;
                color: #c63233;
                opacity: 0;
                transition: all .3s ease;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .menu {
        background-color: #c63233;
        padding: 5px 0;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
            a {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                margin: 0 20px;
                text-decoration: none;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}
.news_is_day {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news {
    position: relative;
    max-width: 262px;
    width: 100%;
    // margin: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    
    > a {
        text-decoration: none;
    }
    .big {
        // min-width: 540px;
        // min-height: 148px;
        max-width: 540px;
        max-height: 148px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
    }
    .small {
        // min-width: 248px;
        // min-height: 148px;
        max-width: 248px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        max-height: 148px;
    }
    .label {
        background: #FFFFFF;
        border-radius: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 111.19%;
        color: #c63233;
        position: absolute;
        left: 6px;
        top: 6px;
        padding: 1px 7px;
        box-shadow: 2px 2px 10px -6px;
        position: absolute;
        z-index: 1;
    }
    h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #c63233;
        margin: 10px 0;
    }
    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #313131;
        margin-bottom: 5px;
    }
    .news_image {
        width: 100%;
        max-width: 262px;
        height: 148px;
        object-fit: cover;
        border-radius: 10px;
    }            
    .footer_news {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .video {
        position: relative;
        > .play {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 17px;
        }
        &:hover {
            .play {
                opacity: .7;
            }
        }
    }
    &.min {
        .video {
            > .news_image {
                height: 148px;
            }
            > .play {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 17px;
            }
            &:hover {
                .play {
                    opacity: .7;
                }
            }
        }
    }
}
.data {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 111.19%;
    color: #C5C5C5;
}
.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #C5C5C5;
        margin: 0 5px;
        text-decoration: none;
        opacity: .8;
        &:hover {
            opacity:1;
        }
        > span {
            margin-left: 3px;
        }
    }
    > .share {
        margin: 0 20px;
        display: flex;
        align-items: center;
        margin-right: 0;
        > span {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 111.19%;
            color: #c63233;
            margin-right: 15px;
        }
        > a {
            width: 29px;
            height: 29px;
            border-radius: 50%;
            background-color: #FAF5F5;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            &:hover {
                background-color: #FBEDED;
            }
        }
    }
}
.sec1, .sec4 {
    img {
        width: 100%;
        object-fit: contain;
    }
}
.sec4 {
    padding: 25px;
    &.mob {
        display: none;
    }
}
.more_news {
    border: 1px solid #c63233;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #c63233;
    margin: 0 auto;
    display: block;
    max-width: max-content;
    width: auto;
    text-align: center;
    transition: all .2s ease;
    &:hover {
        background: #c63233;
        color: #FFFFFF;
        text-decoration: none;
    }
}
.box_top_news {
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    .head {
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            left: 0;
            background-color: #ededed;
            position: absolute;
        }
        > p {
            margin-bottom: 10px;
            color: #c63233;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            > img {
                margin-right: 10px;
            }
        }
    }
    .news_lists {
        .list {
            > span {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #C2C2C2;
            }
            .title {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #838383;
                margin-bottom: 10px;
            }
            .body {
                margin-bottom: 0;
                height: 0;
                overflow: hidden;
                transition: all .2s ease;
                
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    margin: 0;
                    border-radius: 10px;
                    height: 120px;
                }
            }
            a {
                text-decoration: none;
                &:hover {
                    > .title {
                        color: #313131;
                    }
                }
            }
            &.active {
                .body {
                    margin-bottom: 15px;
                    height: auto;
                }
                .title {
                    color: #313131;
                }
            }
            &:last-child {
                .body {
                    margin-bottom: 0 !important;
                }
            }
        }
        > .news {
            margin-bottom: 10px;
            padding-bottom: 0;
            &:first-child {
                margin-top: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.sec2 {
    padding: 25px 0;
    .banners {
        > img {
            width: 100%;
            height: 148px;
            object-fit: contain;
        }
    }
    
}
.poll {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #313131;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #c63233;
        border-radius: 4px;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #c63233;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 4px;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            border-bottom: 1px solid #c63233;
            padding-bottom: 8px;
            > img {
                margin-right: 8px;
            }
        }
    }
    .body {
        > p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #c63233;
            margin-bottom: 15px;
        }
        label {
            margin-bottom: 3px;
        }
    }
    button {
        border: 1px solid #c63233;
        border-radius: 10px;
        padding: 7px 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        margin-top: 15px;
        display: block;
        max-width: 143px;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease;
        text-decoration: none;
        background: #c63233;
        &:hover {
            background: transparent;
            color: #c63233;
        }
    }
}
.sec3 {
    .head {
        > p {
            text-transform: uppercase;
            display: none;
        }
    }
    .news {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        .news_image {
            max-width: 100%;
        }
    }
}
.spaser {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 25px;
}
.sec5 {
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: -webkit-box;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            padding-bottom: 8px;
            img {
                margin-right: 8px;
            }
        }
    }
    .post {
        display: flex;
        align-items: flex-start;
        margin-bottom: 14px;
        > img {
            border-radius: 10px;
            max-width: 94px;
            width: 100%;
            height: 94px;
            object-fit: cover;
        }
        .body {
            padding-left: 20px;
            width: 100%;
            > a {
                color: #A9493F;
            }
            h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #A9493F;
            }
            > p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #313131;
            }
            .footer {
                > p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    > span {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                        color: #CCCCCC;
                        &.author {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &.first {
            border-bottom: 1px solid #EBEBEB;
            padding-bottom: 15px;
            margin-bottom: 40px;
            > img {
                width: 125px;
                height: 125px;
            }
        }
    }
    .posts-tables {
        display: flex;
        flex-wrap: wrap;
        > .post {
            width: 50%;
            padding: 5px;    
            h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #A9493F;
            }
            .body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .footer {
                    > p {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin: 0;
                    }
                }
            } 
        }
    }
    .spaser {
        margin: 9px 0;
    }
}
.slider-year {
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .sliders-years-box {
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: flex-start;
        width: 94%;
        overflow-x: scroll;
        background: #EDEDED;
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
        .year {
            padding: 10px 26px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #959595;
            &:hover {
                text-decoration: none;
                color: #c63233;

            }
            &.active {
                color: #c63233;
            }
        }
    }
    > a {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 0 14px;
        width: 64px;
        color: #9F9F9F;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: #c63233;
        }
    }
    .next {
        right: 0;
        box-shadow: inset -47px 0 16px 2px #ededed;
        justify-content: flex-end;
    }
    .prev {
        left: 0;
        box-shadow: inset 47px 0 16px 2px #ededed;
    }
    &.only {
        background: #FAF6F6;
        border-radius: 10px;
        .sliders-years-box {
            background: #FAF6F6;
        }
        .prev {
            box-shadow: inset 47px 0 16px 2px #FAF6F6;
        }
        .next {
            box-shadow: inset -47px 0 16px 2px #FAF6F6;
        }
    }
}
.sliders_jornals-box {
    position: relative;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider-jornals {
        // display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 94%;
        overflow-x: scroll;
        background: #F8F8F8;
        padding: 25px 0;
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
        
    }
    > a {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 0 14px;
        width: 64px;
        color: #9F9F9F;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: #c63233;
        }
    }
    .next {
        right: 0;
        box-shadow: inset -47px 0 16px 2px #F8F8F8;
        justify-content: flex-end;
    }
    .prev {
        left: 0;
        box-shadow: inset 47px 0 16px 2px #F8F8F8;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: flex;
}

.jornal {
    display: flex;
    margin-right: 15px;
    max-width: 195px;
    width: 100%;
    padding: 20px;
    img {
        // width: 75px;
        height: 107px;
        border-radius: 10px;
        object-fit: contain;
    }
    .body {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: max-content;
        h3 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #c63233;
            margin: 0;
        }
        span {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #838383;
        }
        .more_news {
            font-size: 14px;
            line-height: 16px;
            padding: 3px 7px;
        }
    }
}
.sec6 {
    margin-top: 25px;
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            img {
                margin-right: 8px;
            }
        }
    }
}
.sec7 {
    margin-top: 25px;
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            img {
                margin-right: 8px;
            }
        }
    }
    .row {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .more_news {
        margin: 34px auto;
    }
    &.mob {
        display: none;
    }
}

footer {
    background-color: #c63233;
    padding: 30px;
    padding-bottom: 15px;
    .footer-contacts-box {
        img {
            margin-bottom: 10px;
            width: 100%;
        }
        p {
            margin: 0;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            &.tel_me {
                margin: 15px 0 !important;
                display: flex;
                flex-wrap: wrap;
                > a {
                    border: 1px solid #E8B8B8;
                    border-radius: 25px;
                    margin-left: 11px;
                    padding: 2px 6px;
                    color: #E8B8B8;
                    text-decoration: none;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
            span {
                font-weight: bold;
            }
        }
    }
    h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .footer_menu {
        display: flex;
        flex-direction: column;

        > a {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #E7B8B8;
            text-decoration: none;
            word-wrap: break-word;
            &:hover {
                opacity: 0.5;
            }
                    
        }
    }
    .access {
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: flex-end;
        > p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            text-align: right;
            color: #E8B8B8;
        }
    }
    .spaser {
        margin: 5px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #E2ADAD;
    }
    .copy {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #E8B8B8;
    }
    .soc_footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > a {
            margin-left: 22px;
            &:hover {
                opacity: .8;
            }
        }
    }
    .box-footer_menu {
        display: flex;
        .items {
            // max-width: 100px;
            margin-right: 27px;
        }
    }
}


section.page {
    padding-top: 25px;
    h1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #c63233;
    }
    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #313131;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 15px;
    }
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            img {
                margin: 0;
                margin-right: 8px;
                width: 22px;
                height: 22px;
            }
        }
    }
}

.box-ad {
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 20px !important;
    }
}
.other_news {
    margin-top: 30px;
    .head {
        margin-left: 25px;
    }
}
.headline {
    h1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        color: #c63233;
        // margin: 15px 0;
        // margin-bottom: 35px;
        text-transform: uppercase;
    }
}

.btn1 {
    border: 1px solid #c63233;
    border-radius: 10px;
    padding: 7px 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #c63233;
    display: block;
    max-width: max-content;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    &:hover {
        background: #c63233;
        color: #FFFFFF;
        text-decoration: none;
    }
    &.active {
        border: 1px solid #c63233;
        border-radius: 10px;
        padding: 7px 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        display: block;
        width: 100%;
        max-width: max-content;
        text-align: center;
        transition: all 0.2s ease;
        text-decoration: none;
        background: #c63233;
        &:hover {
            background: transparent;
            color: #c63233;
        }
    }
}
.box-control {
    display: flex;
    align-items: center;
    margin: 15px 0;
    > a {
        margin-right: 20px;
        &.date {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #c63233;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &:hover {
                opacity: .8;
            }
            > img {
                margin-right: 5px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
section.box_news {
    padding-top: 10px;
    .news {
        max-width: 100%;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
        .news_image {
            max-width: 100%;
        }
    }
}

.space {
    margin-top: 20px;
}
.headings {
    .btn1 {
        max-width: 100%;
        padding: 10px 0;
        margin-bottom: 15px;
    }
    h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #959595;
        margin-bottom: 15px;
    }
}

section.photos {
    position: relative;
    h2 {
        // position: absolute;
        // top: -30px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #313131;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 30px;
        > span {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #838383;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    .left {
        img {
            height: 315px;
            border-radius: 10px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;    
        img {
            height: 147px;
            border-radius: 10px;
        }
    }
    // .box-ad {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     height: 100%;
    //     img {
    //         height: 147px;
    //         margin-bottom: 0 !important;
    //     }
    // }
}

section.videos {
    .news {
        max-width: 100%;
        margin: 0;
        .news_image {
            max-width: 100%;
            height: 314px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}
.search {
    display: flex;
    align-items: center;
    color: #c63233;
    p {
        margin: 0;
    }
    img {
        margin-right: 8px;
    }
    input {
        max-width: 87px;
        width: 100%;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #BEBEBE;
        border-radius: 10px;
        margin: 0 8px;
        padding: 5px;
    }
    a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #c63233;
        text-decoration: none;
    }
}
section.voting {
    .box_voites {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        .header {
            flex-direction: unset;
        }
    }
}
.item {
    margin-bottom: 50px;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #959595;
        border-bottom: 1px solid #EBEBEB;
        padding-bottom: 10px;
    }
    .footer {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #959595;
        border-top: 1px solid #EBEBEB;
        padding-top: 10px;
        margin-top: 10px;
    }
    h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #c63233;
        margin: 10px 0;
    }
    .progress {
        height: 30px;
        background: #FFFFFF;
        border: 0.5px solid #E2E2E2;
        border-radius: 19px;
        margin: 10px 0;
        .progress-bar {
            overflow: unset;
            background: #E7B8B8;
            padding-left: 12px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #313131;
            border-radius: 19px;
            text-align: left;
            &.check {
                background: #8bc34a66 !important;
            }
        }
    }
}
section.projects {
    .item_project {
        margin-bottom: 35px;
        img {
            width: 100%;
            height: 165px;
            object-fit: cover;
            border-radius: 10px;
        }
        p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #c63233;
            margin-top: 10px;
        }
        a {
            text-decoration: none;
        }
    }
}

section.blogs {
    .box_authors {
        border: 1px solid #EDEDED;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        .head {
            > p {
                margin-bottom: 10px;
                color: #c63233;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                > img {
                    margin-right: 10px;
                }
            }
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                background-color: #ededed;
                position: absolute;
            }
        }
        .author {
            margin: 15px 0;
            > a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                padding-left: 25px;
                > span {
                    color: #959595;
                    margin-left: 12px;
                    line-height: 15px;
                }
                &:hover {
                    > span {
                        color: #313131;
                    }
                }
            }
            img {
                max-width: 52px;
                width: 100%;
                height: 52px;
                object-fit: cover;
                border-radius: 10px;
            }
            &:first-child {
                margin-top: 30px;
            }
        }
        .more_news {
            margin-bottom: 10px;
        }
    }
    .news {
        margin: 0;
        margin-bottom: 20px;
        max-width: 100%;
        .news_image {
            max-width: 100%;
        }
        .footer_news {
            margin-top: 30px;
        }
    }
    .outher_blogs {
        .news {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 0;
            height: 100%;
            .footer_news {
                margin-top: 0;
            }
        }
    }
}


section.partners {
    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        > a {
            margin: 5px 10px;
            &.active {
                background: #c63233;
                border: 1px solid #c63233;
                color: #fff;
            }
        }
    }
}
.partner_item {
    &.poster {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    > a {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        text-decoration: none;
        align-items: center;
        transition: all .3s ease;
        border-radius: 10px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #c63233;
            img {
                border: 1px solid transparent;
            }
        }
    }
    img {
        max-width: 165px;
        height: 165px;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
        border: 1px solid #c63233;
        padding: 5px;
    }
    .body {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-end;
        width: 100%;
        .desc {
            width: 100%;
            > h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #313131;
                margin: 0;
                text-align: left;
            }
            > p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #313131;
            }
            > span {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #C5C5C5;
                margin: 5px 0;
                display: block;
            }
        }
    }
}

.bc {
    position: relative;
}

.breadcrumbs {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 15px;
    > a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: #838383;
        margin-right: 5px;
        &::after {
            content: ">";
            margin-left: 5px;
        }
        &:hover {
            color: #313131;
        }
        &:last-child {
            &::after {
                content: "";
            }
        }
    }
    > span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #313131;
    }
}
section.thank_mails {
    a {
        > img {
            width: 100%;
            max-height: 307px;
            max-width: 233px;
            border-radius: 10px;
            object-fit: cover;
            height: 100%;
            box-shadow: 1px 1px 6px -4px #c63233;
            padding: 5px;
        }
    }
}
section.reviews {
    .box_reviews {
        .item_review {
            border: 1px solid #C5C5C5;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 15px;
            margin: 15px 0;
            display: flex;
            position: relative;
            > img {
                max-width: 94px;
                width: 100%;
                height: 94px;
                border-radius: 10px;
                object-fit: contain;
            }
            > .body {
                padding-left: 15px;
                max-width: 75%;
                > h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #A9493F;
                }
                > span {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 111.19%;
                    color: #959595;
                    display: block;
                    margin: 5px 0;
                }
                > .text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #313131;
                    height: 100%;
                    overflow: hidden;
                    max-height: 48px;
                    transition: all .3s cubic-bezier(0.47, 0, 0.75, 0.72);
                    &.show {
                        max-height: 700px;
                    }
                }
            }
            .more {
                color: #c63233;
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                margin: auto;
                font-size: 36px;
                height: 20px;
                width: 20px;
                display: block;
                line-height: 20px;
                text-decoration: none;
                transition: all .3s ease;
                &.show {
                    transform: rotate(45deg);
                    opacity: .6;                
                }
            }
        }
    }
}

.author_item {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    > img {
        max-width: 94px;
        height: 94px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .body {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        .desc {
            width: 100%;
            > h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 15px;
                color: #c63233;
                margin: 0;
                margin-bottom: 10px;
            }
            > p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #313131;
            }
            > span {
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #C5C5C5;
                margin: 5px 0;
                display: block;
            }
        }
        > .more_news {
            border-radius: 24px;
            font-size: 14px;
            margin: 0;
        }
    }
}

.box_gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px;
    > a {
        > img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            padding: 5px;
        }
        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3; 
        }
        &:nth-child(2) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        &:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
        }
        &:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        &:nth-child(5) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        &:nth-child(6) {
            grid-column-start: 3;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 6
        }
        &:nth-child(7) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 7;
        }
        &:nth-child(8) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 6;
            grid-row-end: 6;
        }
        &:nth-child(9) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 6;
            grid-row-end: 6;
        }
        &:nth-child(10) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 7;
            grid-row-end: 9; 
        }
        &:nth-child(11) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 7;
            grid-row-end: 9;
        }
    }
}
section.vid {
    .head {
        display: flex;
        justify-content: space-between;
    }
}
.sec6 {
    .news {
        margin: 10px;
    }
}
section.video {
    .news {
        max-width: 100%;
        margin: 0;
        display: block;
        height: auto;
        .news_image {
            max-width: 100%;
            width: 848px;
            height: 480px;
        }
        h3 {
            font-size: 20px;
        }
        .footer_news {
            margin: 20px 0;
        }
    }
    .body {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
        color: #313131;
    }
    span.name {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 111.19%;
        color: #959595;
    }
    .more_news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        float: right;
        > svg {
            margin-right: 5px;
        }
        &:hover {
            > svg {
                > path {
                    fill: #fff;
                }
            }
        }
    }
}
.pagingInfo {
    a.prev, a.next {
        color: #c63233;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        &.slick-disabled {
            color: silver;
        }
    }
    span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 111.19%;
        text-align: center;
        color: #313131;
        margin: 0 5px;
    }
}
.head {
    > p {
        font-size: 18px !important;
        line-height: 21px !important;
        color: #c63233 !important;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
}
section.poster {
    img.poster_image {
        object-fit: cover;
        max-width: 848px;
        height: 408px;
        width: 100%;
        border-radius: 10px;
        &+h3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
            color: #c63233;
            margin: 20px 0;
        }
    }
    .body {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
        color: #313131;
    }
    span.name {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 111.19%;
        color: #959595;
    }
    .more_news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        float: right;
        > svg {
            margin-right: 5px;
        }
        &:hover {
            > svg {
                > path {
                    fill: #fff;
                }
            }
        }
    }
    .footer_poster {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons {
            display: flex;
            > a {
                margin-right: 14px !important;
            }
        }
    }
    .header {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        span {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 111.19%;
            color: #959595;
            margin-right: 20px;
        }
        a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #c63233;
            margin-right: 5px;
        }
    }
}

.listeners_now {
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    .head {
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #ededed;
            position: absolute;
        }
        > img {
            width: 24px;
            height: 20px;
        }
        > p {
            margin-bottom: 10px;
            color: #c63233;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            > img {
                margin-right: 10px;
            }
        }
    }
    .news_list {
        display: flex;
        flex-direction: column;
        > a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #959595;
            text-decoration: none;
            margin: 7px 0;
            &:hover {
                color: #313131;
            }
        }
    }
}
section.new {
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: flex;
            align-items: center;
            > img {
                margin-right: 8px;
            }
        }
    }
}

section.author_blogs {
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: flex;
            align-items: center;
            > img {
                margin-right: 8px;
            }
        }
    }
}

section.article {
    .header {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        span {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 111.19%;
            color: #959595;
            margin-right: 20px;
        }
        a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #c63233;
            margin-right: 5px;
        }
    }
    .body {
        > img {
            max-width: 263px;
            width: 100%;
            height: 263px;
            object-fit: cover;
            float: left;
            border-radius: 10px;
            margin-right: 20px;
        }
        > h3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
            color: #c63233;
            margin: 20px 0;
        }
    }
    .footer_poster {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons {
            display: flex;
            > a {
                margin-right: 14px !important;
            }
        }
    }
    .head {
        > p {
            font-size: 18px !important;
            line-height: 21px !important;
            color: #c63233 !important;
            display: flex;
            align-items: center;
            > img {
                margin-right: 8px;
            }
        }
    }
}
.controls-news {
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        color: #313131;
    }
}
section.project {
    .box_project {
        margin-top: 20px;
        .item {
            margin: 20px 0;
            > p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #959595;
                margin-bottom: 10px;            
            }
            > div {
                display: flex;
                > img {
                    max-width: 165px;
                    height: 105px;
                    width: 100%;
                    border-radius: 10px;
                }
                > .body {
                    padding: 0 15px;
                    > h3 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #c63233;
                    }
                    > p {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #6B6B6B;
                    }
                    > .desc {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #313131;
                    }
                    > .footer_news {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .more_news {
                            margin: 0;
                            border-radius: 24px;
                        }
                    }
                }
            }
        }
    }
}

.pagination {
    justify-content: center;
    flex-wrap: wrap;
    .page-item.active {
        .page-link {
            z-index: 3;
            color: #000;
            background: #E7B8B8;
            border-radius: 6px;
            border: none;
        }
    }
    .page-link {
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #313131;
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}

.datepicker {
    padding: 12px;
    table tr td.active{
        background-color: #c63233 !important;
        background-image: none !important;
    }
}

input.date_picker {
    border: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: #c63233;
    &::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: #c63233;
    }
}

#reviews {
    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #A9493F;
        margin-bottom: 20px;
    }
    .input {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .input-form {
            display: flex;
            flex-direction: column;
            label {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 111.19%;
                color: #838383;
                margin: 8px 0;
            }
            input {
                border: 0.5px solid #BEBEBE;
                border-radius: 4px;
                margin-right: 38px;
                padding: 5px 10px;
            }
        }
    }
    .body-form {
        display: flex;
        flex-direction: column;
        label {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 111.19%;
            color: #838383;
            margin: 8px 0;
        }
        textarea {
            width: 100%;
            height: 74px;
            border: 0.5px solid #BEBEBE;
            border-radius: 4px;
            padding: 5px 10px;
        }
    }
    .more_news {
        background-color: #fff;
        margin: 20px 0;
        padding-right: 15px;
        padding-left: 15px;
        &:hover {
            background-color: #c63233;
        }
    }
}
.header-mob {
    display: none;
}

section.insta {
    display: none;
}

section.mob_posts {
    display: none;
}

section.mob_rates {
    display: none;
}

section.mob_footer {
    display: none;
}
.mob-search {
    display: none;
}
.toback {
    display: none;
}
.mob_photo {
    display: none;
}
.author_mob {
    display: none;
}

.header {
    display: -webkit-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        color: #c63233;
        animation-duration: 1s;
        &:first-child {
            animation-delay: .5s;
        }
        &:nth-child(2) {
            animation-delay: .7s;
        }
        &:last-child {
            animation-delay: .9s;
        }
    }
}
section.searching {
    form#search {
        margin-top: 15px;
        position: relative;
        input {
            padding: 10px;
            padding-left: 0;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #c63233;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #313131;
            max-width: 100%;
            width: 100%;
            margin: 0;
            &::placeholder {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #313131;
            }
        }
        > button {
            position: absolute;
            right: 0;
            top: 0;
            border: 0;
            padding: 10px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-image: url(/images/right.svg);
            background-color: #c63233;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                opacity: .7;
            }
        }
    }
    p.no-str {
        text-align: center;
        font-size: 18px;
        margin: 90px 0;
    }
    .box_result {
        margin-top: 26px;
        > .item {
            margin-bottom: 0;
            display: flex;
            padding: 12px 0;
            border-top: 1px solid #DFDFDF;
            &:hover {
                background-color: rgba(163, 61, 50, 0.1);
            }
            > .date {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 111.19%;
                color: #C5C5C5;
                max-width: 110px;
                width: 100%;
            }
            > .body {
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                > span {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 111.19%;
                    color: #c63233;
                    margin-bottom: 10px;
                }
                > a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    color: #313131;
                    text-decoration: none;
                    span {
                        color: #ffffff;
                        background-color: #c63233;
                        padding: 2px 5px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}
#sendMe {

    .sendme-button {
        color: #fff;
        background-color: #c63233;
        border-color: #c63233;
        &:hover {
            color: #fff;
            background-color: #c63233c4;
            border-color: #c63233c4;
        }
    }
    .form-control {
        border: none;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: #f3f3f3;
    }
    .modal-title {
        margin-bottom: 0;
        line-height: 1.6;
        color: #c63233;
    }
    .modal-footer {
        border-top: 0;
    }
    .modal-content {
        .loader {
            position: absolute;
            display: flex !important;
            transition: all .2s ease;
            opacity: 0;
            z-index: -1;
            &.show {
                z-index: 1;
                opacity: 1;
            }
        }
    }
    .success, .error {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
    }
}

.f-modal-alert .f-modal-icon {
	border-radius: 50%;
	border: 4px solid gray;
	box-sizing: content-box;
	height: 80px;
	margin: 20px auto;
	padding: 0;
	position: relative;
	width: 80px;

	// Success icon
	&.f-modal-success,
	&.f-modal-error {
		border-color: #A5DC86;

		&:after,
		&:before {
			background: #fff;
			content: '';
			height: 120px;
			position: absolute;
			transform: rotate(45deg);
			width: 60px;
		}

		&:before {
			border-radius: 120px 0 0 120px;
			left: -33px;
			top: -7px;
			transform-origin: 60px 60px;
			transform: rotate(-45deg);
		}

		&:after {
			border-radius: 0 120px 120px 0;
			left: 30px;
			top: -11px;
			transform-origin: 0 60px;
			transform: rotate(-45deg);
		}

		.f-modal-placeholder {
			border-radius: 50%;
			border: 4px solid rgba(165, 220, 134, .2);
			box-sizing: content-box;
			height: 80px;
			left: -4px;
			position: absolute;
			top: -4px;
			width: 80px;
			z-index: 2;
		}

		.f-modal-fix {
			background-color: #fff;
			height: 90px;
			left: 28px;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 5px;
			z-index: 1;
		}

		.f-modal-line {
			background-color: #A5DC86;
			border-radius: 2px;
			display: block;
			height: 5px;
			position: absolute;
			z-index: 2;

			&.f-modal-tip {
				left: 14px;
				top: 46px;
				transform: rotate(45deg);
				width: 25px;
			}

			&.f-modal-long {
				right: 8px;
				top: 38px;
				transform: rotate(-45deg);
				width: 47px;
			}
		}
	}

	// Error icon
	&.f-modal-error {
		border-color: #F27474;

		.f-modal-x-mark {
			display: block;
			position: relative;
			z-index: 2;
		}

		.f-modal-placeholder {
			border: 4px solid rgba(200, 0, 0, .2);
		}

		.f-modal-line {
			background-color: #F27474;
			top: 37px;
			width: 47px;

			&.f-modal-left {
				left: 17px;
				transform: rotate(45deg);
			}

			&.f-modal-right {
				right: 16px;
				transform: rotate(-45deg);
			}
		}
	}
	
	+ .f-modal-icon {
		margin-top: 50px;
	}
}

.animateSuccessTip {
	animation: animateSuccessTip .75s;
}

.animateSuccessLong {
	animation: animateSuccessLong .75s;
}

.f-modal-icon.f-modal-success.animate:after {
	animation: rotatePlaceholder 4.25s ease-in;
}

.f-modal-icon.f-modal-error.animate:after {
	animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
	animation: animateErrorIcon .5s;
}

.animateXLeft {
	animation: animateXLeft .75s;
}

.animateXRight {
	animation: animateXRight .75s;
}



.scrollToTop {
    position: fixed;
    right: 200px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 11px -8px rgb(163, 61, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1);
    display: none;
    &:active {
        box-shadow: 0px 0px 10px -26px #c63233;
        background-color: rgb(255, 246, 245);
    }
}

@keyframes animateSuccessTip {
	0%,54% {
		width: 0;
		left: 1px;
		top: 19px;
	}

	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}

	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}

	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}

@keyframes animateSuccessLong {
	0%,65% {
		width: 0;
		right: 46px;
		top: 54px;
	}

	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}

	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}

@keyframes rotatePlaceholder {
	0%,5% {
		transform: rotate(-45deg);
	}

	100%,12% {
		transform: rotate(-405deg);
	}
}

@keyframes animateErrorIcon {
	0% {
		transform: rotateX(100deg);
		opacity: 0;
	}

	100% {
		transform: rotateX(0deg);
		opacity: 1;
	}
}

@keyframes animateXLeft {
	0%,
	65% {
		left: 82px;
		top: 95px;
		width: 0;
	}

	84% {
		left: 14px;
		top: 33px;
		width: 47px;
	}

	100% {
		left: 17px;
		top: 37px;
		width: 47px;
	}
}

@keyframes animateXRight {
	0%,
	65% {
		right: 82px;
		top: 95px;
		width: 0;
	}

	84% {
		right: 14px;
		top: 33px;
		width: 47px;
	}

	100% {
		right: 16px;
		top: 37px;
		width: 47px;
	}
}
.tox-statusbar {
    display: none !important;
}
.tox.tox-tinymce {
    width: 100%;
    border: 0.5px solid #BEBEBE;
    border-radius: 4px;
}