@media(max-width:1200px) {
    .news {
        max-width: 210px;
    }
}

@media(max-width:992px) {

    body {
        &.open-menu {
            overflow: hidden;
        }
    }
    .header {
        display: none;
    }
    header {
        .menu {
            background-color: #ffffff;
            padding: 5px 0;
            width: 100%;
            position: fixed;
            z-index: 3;
            top: 55px;
            transition: all .3s ease;
            left: -100%;
            height: 100%;
            > .container {
                margin: 0;
                padding: 0;
                max-width: 100%;
                ul {
                    flex-direction: column;
                    > li {
                        padding: 5px 0;
                        width: 100%;
                        text-align: center;
                        border-bottom: 1px solid #EBEBEB;
                        > a {
                            font-size: 16px;
                            line-height: 19px;
                            color: #6B6B6B;
                        }
                    }
                }
            }
            &.open {
                left: 0px;
            }
            
        }
        .mob-search {
            background-color: #ffffff;
            padding: 5px 0;
            width: 100%;
            position: fixed;
            z-index: 2;
            top: 55px;
            transition: all .3s ease;
            left: -100%;
            height: 100%;
            display: block;
            a {
                text-decoration: none;
            }
            ul {
                flex-direction: column;
                > li {
                    padding: 5px 0;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid #EBEBEB;
                    > a {
                        font-size: 16px;
                        line-height: 19px;
                        color: #6B6B6B;
                    }
                }
            }
            .mob-search-input {
                padding: 5px 17px;
                position: relative;
                input {
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #A33D32;
                    padding: 5px;
                }
                span {
                    position: absolute;
                    right: 23px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    > img {
                        background-color: #A33D32;
                        border-radius: 50%;
                        padding: 6px 8px;
                    }
                }
            }
            .box-search-result {
                display: flex;
                flex-direction: column;
                padding: 17px;
                height: 100%;
                overflow-y: scroll;
                max-height: 77vh;
                > .btn1 {
                    margin: 10px 0;
                    max-width: 100%;
                    padding: 12px;
                    font-size: 16px;
                }                
                > .item {
                    margin-bottom: 0;
                    border-bottom: 1px solid #ebebeb;
                    span {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #959595;
                    }
                    p {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #313131;
                        > span {
                            color: #ffffff;
                            background-color: #a33d32;
                            padding: 2px 5px;
                            border-radius: 3px;
                        }
                    }
                }
            }
            &.open {
                left: 0px;
            }
            
        }
    }
    .header-mob {
        background: #A33D32;
        height: 55px;
        display: flex;
        align-items: center;
        z-index: 333;
        transition: all .3s ease;
        top: -60px;
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .mob-logo {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            img {
                position: relative;
                width: 70%;
                height: auto;
                margin: 0 auto;
                display: block;
                transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
                top: 0;
            }
        }
        .search-mob {
            justify-content: center;
            position: relative;
            overflow: hidden;
            svg {
                position: relative;
                top: 0;
                transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
                > path {
                    fill: #E8B8B8;
                }
            }
        }
        .burger {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            flex-direction: column;
            height: 100%;
            padding-bottom: 1px;
            > span {
                width: 18px;
                height: 2px;
                background-color: #E8B8B8;
                border-radius: 15px;
                transition: all .3s ease;
            }
        }
        &.open {
            .burger {
                justify-content: center;
                > span {
                    &:first-child {
                        transform: rotate(45deg) translate(1px, 1px);
                    }
                    &:last-child {
                        display: none;
                    }
                    &:nth-child(2) {
                        transform: rotate(-45deg) translate(1px, 0px);
                    }
                }
            }
            .mob-logo {
                img {
                    top: -36px;
                }
            }
            .search-mob {
                svg {
                    top: -36px;
                }
            }
        }
    }
    section.sec5 {
        display: none;
    }

    section.photos {
        display: none;
    }

    section.mob_photo {
        display: block;
        .box_mob_photo {
            .item  {
                margin-bottom: 20px;
                > p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #313131;
                }
                .img {
                    overflow-x: scroll;
                    display: flex;
                    // margin-bottom: 18px;
                    padding-bottom: 18px;
                    > img {
                        margin-right: 13px;
                        width: 100%;
                        max-width: 276px;
                        height: 156px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    section.videos {
        .news {
            .news_image {
                max-width: 100%;
                height: 220px;
            }
        }
    }
    section.video {
        .news {
            .news_image {
                max-width: 100%;
                width: 100%;
                height: 324px;
            }
        }
    }

    section.sec6 {
        .pagingInfo {
            display: none;
        }
        .box_video {
            display: flex;
            overflow-x: scroll;
        }
        .news {
            height: auto;
            max-width: 262px;
            .news_image {
                width: 262px;
            }
            .footer_news {
                .control {
                    display: none;
                }
            }
        } 
    }

    .outher_news {
        .box_news {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            .news {
                max-width: 262px;
                margin: 0 15px;
                .news_image {
                    max-width: 262px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 10px;
                    width: 262px;
                    height: 148px;
                }
                .control {
                    display: none;
                }
            }
            .author_item {
                min-width: 300px;
                margin-left: 15px;
                width: fit-content;
                .body {
                    padding-right: 10px;
                    .more_news {
                        padding: 4px 10px;
                        line-height: 15px;
                    }
                }
            }
        }
    }

    section.blogs {
        .box_blogs {
            display: flex;
            justify-content: space-between;
            .news {
                max-width: 330px;
                width: 100%;
            }
        }
        .author_mob {
            display: block;
            .box_authors {
                border: 0;
                .head {
                    > p {
                        text-transform: uppercase;
                    }
                    &::after {
                        content: "";
                        height: 0;
                    }
                }
                .authors_list {
                    display: flex;
                    overflow-x: scroll;
                    .author {
                        width: max-content;
                        margin-top: 0;
                        margin-right: 25px;
                        > a {
                            width: inherit;
                            align-items: flex-start;
                            padding-left: 0;
                        }
                        img {
                            height: 94px;
                            max-width: 94px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px) {
    .scrollToTop {
        right: 15px;
        bottom: 15px;
    }
    .news .small {
        max-width: 100%;

    }
    footer {
        display: none;
    }
    section.mob_footer {
        background-color: #A33D32;
        display: block;
        .soc_footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            > a {
                margin: 11px;
                &:hover {
                    opacity: .8;
                }
            }
        }
        .mob_menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            > a {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                padding: 5px 0;
            }
        }
        .access {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #E8B8B8;
            margin-top: 20px;
        }
        p.copy {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #E8B8B8;
            text-align: center;
        }
    }
    .headline h1 {
        font-size: 18px;
        line-height: 21px;
        padding-top: 0 !important;
    }
    .breadcrumbs {
        display: none;
    }
    .toback {
        display: block;
        > a {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #C5C5C5;
            &:hover {
                text-decoration: none;
            }
        }
    }
    section.mob_photo {
        .box_mob_photo {
            .item  {
                a {
                    margin: 0 auto;
                }
            }
        }
    }
    .box_gallery {
        > a {
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            &:nth-child(2) {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            &:nth-child(4) {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            &:nth-child(5) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 3;
            }
            &:nth-child(6) {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 3;
                grid-row-end: 3;
            }
            &:nth-child(7) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 4;
            }
            &:nth-child(8) {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 4;
                grid-row-end: 4;
            }
            &:nth-child(9) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 5;
                grid-row-end: 5;
            }
            &:nth-child(10) {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 5;
                grid-row-end: 5;
            }
            &:nth-child(11) {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 6;
                grid-row-end: 6;
            }
        }
    }
    .box-control {
        flex-wrap: wrap;
        > a {
            margin: 0 3px;
            width: 100%;
            font-size: 12px !important;
            max-width: 30% !important;
            &:last-child {
                margin-left: 55px;
                margin-top: 18px;
            }
        }
    }
    .pagination {
        margin-top: 10px;
    }
    section.poster.new {
        padding: 0 !important;
        // .header {
        //     p {
        //         &:last-child {
        //             display: none;
        //         }
        //     }
        //     span {
        //         &:last-child {
        //             display: none;
        //         }
        //     }
        // }
    }
    section.arhives_news {
        .container {
            max-width: 100%;
            padding: 0;
            .slider-year {
                background: #EDEDED;
                border-radius: 0;
                .prev, .next {
                    display: none;
                }
                .sliders-years-box {
                    width: 100%;
                }
            }
            .jornal {
                padding: 20px;
                max-width: max-content;
                .more_news {
                    margin: 0;
                }
            }
        }
    }
    section.thank_mails {
        a {
            > img {
                height: 156px;
                object-fit: cover;
            }
        }
    }
    section.blogs {
        .box_blogs {
            display: block;
            .news {
                max-width: 100%;
            }
        }
    }
    section.article .header {
        flex-wrap: wrap;
    }
    .controls-news h1 {
        text-align: center;
        text-transform: uppercase;
    }
}

@media(max-width:575px) {
    .news {
        &.min {
            .video {
                > .news_image {
                    height: 220px;
                }
            }
        }
    }
    .control {
        justify-content: flex-end;
        flex-wrap: wrap;
        > a {
            margin: 0 10px;
        }
        > .share {
            margin-top: 10px;
        }
    }
    .news .footer_news {
        align-items: flex-start;
    }
    .data {
        display: block;
        width: 50%;
        margin-top: 5px;
    }
    section.sec6 {
        .news {
            .video {
                .news_image {
                    height: 148px;
                }
            }
        } 
    }
    .partner_item {
        flex-direction: column;
        > img {
            max-width: 100%;
            height: 156px;
        }
        .body {
            padding-left: 0;
            margin-top: 10px;
            .desc {
                width: 100%;
            }
        }
    }
    section.partners .buttons > a {
        margin: 5px 5px;
    }
    #reviews {
        .input {
            margin-bottom: 0;
            flex-direction: column;
            .input-form {
                width: 100%;
                input {
                    margin-right: 0;
                }
            }
        }
    }
    .news_is_day {
        padding: 0 15px;
    }
    .body img {
        height: auto;
    }
}

@media(max-width:500px) {
    section.sec1 {
        display: none;
    }
    section.sec2 {
        padding: 0;

        a.more_news {
            display: none;
        }
        
        .news {
            border-bottom: 1px solid #EBEBEB;
            // padding: 0 16px;
            padding-bottom: 18px;
            margin-bottom: 8px !important;       
            max-width: 100%;
            .img {
                position: relative;
            }
            .news_image {
                max-width: 100%;
            }
            > a {
                display: flex;
                flex-direction: column-reverse;
            }
            .label {
                top: 8px;
            }
            p {
                display: none;
            }
            .footer_news {
                display: none;
            }
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: #313131;
            }
            &:first-child {
                h3 {
                    font-size: 22px;
                    line-height: 26px;
                    color: #313131;
                }
            }
            &.poll {
                margin-bottom: 20px;
                p {
                    display: block;
                }
            }
        }
    }
    section.blogs {
        .news {
            border-bottom: 1px solid #EBEBEB;
            // padding: 0 16px;
            padding-bottom: 18px;
            margin-bottom: 8px !important;       
            max-width: 100%;
            .img {
                position: relative;
            }
            .news_image {
                max-width: 100%;
            }
            > a {
                display: flex;
                flex-direction: column-reverse;
            }
            .label {
                top: 8px;
            }
            p {
                display: none;
            }
            .footer_news {
                display: none;
            }
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: #313131;
            }
            &:first-child {
                h3 {
                    font-size: 22px;
                    line-height: 26px;
                    color: #313131;
                }
            }
            &.poll {
                margin-bottom: 20px;
            }
        }
    }
    section.sec7 {
        display: none;
        &.mob {
            display: block;
            margin-top: 6px;
            margin-bottom: 20px;
            .head > p {
                text-transform: uppercase;
            }
            .gallery {
                width: 100%;
                overflow: hidden;
                overflow-x: scroll;
                display: flex;
                > img {
                    width: 152px;
                    height: 87px;
                    border-radius: 10px;
                    margin-right: 8px;
                    object-fit: contain;
                }
            }
        }
    }
    section.sec3 {
        .head {
            > p {
                display: block;
            }
        }
        .news {
            border-bottom: 1px solid #EBEBEB;
            padding: 0 16px;
            padding-bottom: 18px;
            margin-bottom: 8px !important;       
            max-width: 100%;
            .img {
                position: relative;
            }
            .news_image {
                max-width: 100%;
            }
            > a {
                display: flex;
                flex-direction: column-reverse;
            }
            .label {
                top: 8px;
            }
            p {
                display: none;
            }
            .footer_news {
                display: none;
            }
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: #313131;
            }
            &:first-child {
                h3 {
                    font-size: 22px;
                    line-height: 26px;
                    color: #313131;
                }
            }
            &.poll {
                margin-bottom: 20px;
            }
        }
        .col-12 {
            padding: 0;
        }
        a.more_news {
            display: none;
        }
        .spaser {
            display: none;
        }
    }

    section.box_news {
        .news {
            border-bottom: 1px solid #EBEBEB;
            padding: 0;
            padding-bottom: 18px;
            margin-bottom: 8px !important;       
            max-width: 100%;
            .img {
                position: relative;
            }
            .news_image {
                max-width: 100%;
            }
            > a {
                display: flex;
                flex-direction: column-reverse;
            }
            .label {
                top: 8px;
            }
            p {
                display: none;
            }
            .footer_news {
                display: none;
            }
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: #313131;
            }
            &:first-child {
                h3 {
                    font-size: 22px;
                    line-height: 26px;
                    color: #313131;
                }
            }
            &.poll {
                margin-bottom: 20px;
            }
        }
        a.more_news {
            display: none;
        }
        .spaser {
            display: none;
        }
    }

    section.insta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-image: url('/images/bg_inst.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 223px;
        > svg {
            path {
                fill: #fff
            }
        }
        > h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 111.19%;
            color: #FFFFFF;
            margin-top: 10px;
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 111.19%;
            text-align: center;
            color: #FFFFFF;
        }
        a {
            background: #FFFFFF;
            border-radius: 22px;
            padding: 8px 20px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 111.19%;
            color: #6B6B6B;
        }
    }

    section.sec4 {
        display: none;
        &.mob {
            display: block;
            background-color: #F6F6F6;
            width: 100%;
            margin-bottom: 10px;
            .container {
                padding: 0;
            }
        }
    }
    section.mob_posts {
        display: block;
        .news {
            border-bottom: 1px solid #EBEBEB;
            padding: 0 16px;
            padding-bottom: 18px;
            margin-bottom: 8px !important;       
            max-width: 100%;
            .img {
                position: relative;
            }
            .news_image {
                max-width: 100%;
            }
            > a {
                display: flex;
                flex-direction: column-reverse;
            }
            .label {
                top: 8px;
            }
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #C5C5C5;
                margin-top: 10px;
            }
            .footer_news {
                display: none;
            }
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: #313131;
                margin-top: 0;
            }
            &:first-child {
                h3 {
                    font-size: 22px;
                    line-height: 26px;
                    color: #313131;
                }
            }
            &.poll {
                margin-bottom: 20px;
            }
        }
        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #A33D32;
            text-transform: uppercase;
            padding: 0 15px;
        }
        .col-12 {
            padding: 0;
        }
    }

    section.mob_rates {
        padding-top: 15px;
        display: block;
        .rates {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 54px;
            > p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #A33D32;
                text-transform: uppercase;
            }
            .box-rates {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .minus {
                    color: #F14A4A;
                    position: relative;
                    margin-left: 4px;
                }
                .plus {
                    color: #4FCE5C;
                    position: relative;
                    margin-left: 4px;
                }
                p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #838383;
                    display: flex;
                    align-items: center;
                    > .minus::before {
                        content: "-"
                    }
                    > .plus::before {
                        content: "+"
                    }
                }
                h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 26px;
                    color: #838383;
                    display: flex;
                }
            }
        }
    }

    section.sec6 {
        .container {
            padding: 0;
        }
        .head {
            > p {
                padding-left: 15px;
                text-transform: uppercase;
                img {
                    display: none;
                }
            }
        }
        .slider-year {
            border-radius: 0;
            .prev, .next {
                display: none;
            }
            .sliders-years-box {
                width: 100%;
                .year {
                    padding: 10px 20px;
                }
            }
        }
        .sliders_jornals-box {
            .prev, .next {
                display: none;
            }
            .slider-jornals {
                width: 100%;
                padding: 25px 10px;
            }
        }
    }

    header .menu > .container ul > li {
        text-align: left;
    }
    section.video .news .news_image {
        height: 230px;
    }

}