<template>


        <div class="news poll item">
            <div class="head">
                <p><img src="/images/poll.svg" alt="">Опрос</p>
            </div>
            <div class="body">
                <p>{{ getkVoiting.title }}</p>

                <div class="isVoiting" v-if="getkVoiting.status || getkVoiting.date_now > getkVoiting.date_check">
                    <div 
                        class="progress"
                        v-for="(it, i) in getkVoiting.items"
                        :key="i"
                    >
                        <div :class="`progress-bar ${(it.status) ? 'check' : ''}`" role="progressbar" :style="`width: ${ it.count / getkVoiting.all * 100 }%`" :aria-valuenow="`${ (it.count / getkVoiting.all * 100).toFixed(1) }`" aria-valuemin="0" aria-valuemax="100">{{ (it.count / getkVoiting.all * 100).toFixed(1) }}% {{ it.title }}</div>
                    </div>
                </div>
               <form v-else @submit.prevent="to_vote($event, getkVoiting.id)">
                <p 
                    style="margin-bottom:0;"
                    v-for="(it, i) in getkVoiting.items"
                    :key="i"
                >
                    <input class="input_voite" type="radio" :id="`poll-${i}`" name="radio-group" :data-item="it.id" :checked="(i == 0) ? 'checked' : ''">
                    <label :for="`poll-${i}`">{{ it.title }}</label>
                </p>
                <button type="submit">Проголосовать</button>
            </form>


            </div>
        </div>

</template>

<script>
    export default {
        data() {
            return {
                voiting: {},
                check: [],
                uid: localStorage.getItem('uuid'),
                to_item: {},

            }
        },
        computed: {
            getkVoiting() {
                let voiting = this.voiting;

                this.check.forEach((event) => {
                        if(voiting.id === event.voiting_id) {
                            voiting.status = 1
                        }
                        voiting.items.forEach((ev) => {
                            if(ev.id === event.item_id) {
                                ev.status = 1
                            }
                        })

                })

                return voiting
            }
        },
        created() {
            axios.get(`/api/voitings/${this.uid}`)
                .then(res => {

                    let voi = res.data.data;
                    voi.forEach((e) => {
                        if(e.isIndex) {
                            this.voiting = e
                        }
                    })

                    this.check = res.data.check;


           
                })
                .catch(err => console.log(err))
        },
        methods: {
            to_vote(e, id) {

                let data = {
                    uid: this.uid,
                    voiting_id: id,
                    item_id: $(e.target).find('.input_voite').filter(":checked").data('item')
                }

                axios.post('/api/to_vote', data)
                    .then(res => {
                       location.reload();
                    })
                    .catch(err => console.log(err))
                    
            }
        }
    }
</script>
