<template>
    <div>
        <div class="mob-search-input">
            <input type="text" name="search" placeholder="Поиск" v-model="data">
            <span @click="toSearch"><img src="/images/right.svg"></span>
        </div>
        <div class="box-search-result">
    
            <div class="item" v-for="(item, i) in res" :key="i">
    
                <section v-if="i === 7" class="sec4 mob">
                    <div class="container">
                        <a :href="JSON.parse(banner).url" target="blank">
                                <img :src="`${JSON.parse(banner).img_small}`" alt="">
                            </a>
                    </div>
                </section>
    
                <a :href="item.type + item.id">
                        <span>{{ item.date }}</span>
                        <p v-if="data.length > 0" v-html="replaceSubString(item.title)"></p>
                        <p v-else v-text="item.title"></p>
                    </a>
            </div>
    
            <a href="" v-if="isType && res.length > 0" @click.prevent="goToMore" class="goToMore btn1">Показать все результаты</a>
    
        </div>
        <p style="
                text-align: center;
                font-weight: 500;
                color: #a33d32;
            " v-if="res.length <= 0">Результатов не найдено</p>
    </div>
</template>

<script>
export default {
    props: ['banner'],
    data() {
        return {
            data: '',
            res: [],
            type: false
        }
    },
    computed: {
        isType() {
            return this.type
        }
    },
    mounted() {
        axios.post(`/api/search-mob`)
            .then(res => {
                if (res.data.success) {
                    this.res = res.data.res
                    this.type = res.data.type
                }
            })
            .catch(err => console.log(err))

    },
    methods: {
        toSearch() {
            axios.post(`/api/search-mob/${this.data}`)
                .then(res => {
                    if (res.data.success) {
                        this.res = res.data.res
                        this.type = res.data.type
                    }
                })
                .catch(err => console.log(err))
        },
        goToMore() {
            location.href = `/search/${this.data}`
        },
        escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        },
        replaceSubString(str) {
            let reg = new RegExp( this.escapeRegExp(this.data).replace(/\s+/g,'|') , 'gi' );
            return str.replace(reg, '<span>$&</span>')
        }
    }
}
</script>
