<template>
    <div class="box-rates">
        <div v-if="spinner" class="spinner-border spinner-border-sm" role="status"></div>
        <div v-if="!spinner">
            <h3>{{ parseFloat(usd.Value).toFixed(2) }}
                <span v-if="usd.type === 'down'" class="minus">&#9660;</span>
                <span v-else class="plus">&#9650;</span>
            </h3>
            <p>{{ usd.CharCode }} 
                <span v-if="usd.type === 'down'" class="minus">{{ parseFloat(usd.difference).toFixed(2) }}</span>
                <span v-else class="plus">{{ parseFloat(usd.difference).toFixed(2) }}</span>
            </p>
        </div>
        <div v-if="!spinner">
           <h3>{{ parseInt(eur.Value).toFixed(2) }}
                <span v-if="eur.type === 'down'" class="minus">&#9660;</span>
                <span v-else class="plus">&#9650;</span>
            </h3>
            <p>{{ eur.CharCode  }} 
                <span v-if="eur.type === 'down'" class="minus">{{ parseFloat(eur.difference).toFixed(2) }}</span>
                <span v-else class="plus">{{ parseFloat(eur.difference).toFixed(2) }}</span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data: '',
                usd: {},
                eur: {},
                spinner: true
            }
        },
        mounted() {
            axios.post('/api/rates')
                .then(res => {
                    this.data = res.data.Valute;
                    this.spinner = false
                    this.getUSD()
                    this.getEUR()
                })
                .catch(err => console.log(err))

        },
        methods: {
            getUSD() {
                let obj = this.data['USD'];
                let usd = {
                    Value: obj.Value,
                    Previous: obj.Previous,
                    CharCode: obj.CharCode,
                    difference: (obj.Previous > obj.Value) ? obj.Previous - obj.Value : obj.Value - obj.Previous,
                    type: (obj.Previous > obj.Value) ? 'down' : 'up'
                }
                this.usd = usd;
            },
            getEUR() {
                let obj = this.data['EUR'];
                let eur = {
                    Value: obj.Value,
                    Previous: obj.Previous,
                    CharCode: obj.CharCode,
                    difference: (obj.Previous > obj.Value) ? obj.Previous - obj.Value : obj.Value - obj.Previous,
                    type: (obj.Previous > obj.Value) ? 'down' : 'up'
                }

                this.eur = eur;
            }
        }
    }
</script>
