<template>
    <div>
        <!-- <div class="search">
            <p><img src="/images/clock.svg" alt="">Период с </p> 
            <input type="text">
            <p> по </p>
            <input type="text">
            <a href="#">Найти</a>
        </div> -->
        <div class="box_voites">

            <div 
                class="item poll"
                v-for="item in getkVoiting"
                :key="item.id"
            >
                <div class="header">
                    <span>Начало: {{ item.date_start }}</span>
                    <span>Окончание: {{ item.date_end }}</span>
                </div>
                <h3 v-text="item.title"></h3>

                <div class="isVoiting" v-if="item.status || item.date_now > item.date_check">
                    <div 
                        class="progress"
                        v-for="(it, i) in item.items"
                        :key="i"
                    >
                        <div :class="`progress-bar ${(it.status) ? 'check' : ''}`" role="progressbar" :style="`width: ${ it.count / item.all * 100 }%`" :aria-valuenow="`${ (it.count / item.all * 100).toFixed(1) }`" aria-valuemin="0" aria-valuemax="100">{{ (it.count / item.all * 100).toFixed(1) }}% {{ it.title }}</div>
                    </div>
                </div>
                <form v-else @submit.prevent="to_vote($event, item.id)">
                    <p 
                        style="margin-bottom:0;"
                        v-for="(it, i) in item.items"
                        :key="i"
                    >
                        <input class="input_voite" type="radio" :id="`poll-${i}`" name="radio-group" :data-item="it.id" :checked="(i == 0) ? 'checked' : ''">
                        <label :for="`poll-${i}`">{{ it.title }}</label>
                    </p>
                    <button type="submit">Проголосовать</button>
                </form>


                <div class="footer">
                    <span>Проголосовало: {{ item.all }} человек</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                voiting: [],
                check: [],
                uid: localStorage.getItem('uuid'),
                to_item: {},

            }
        },
        computed: {
            getkVoiting() {
                let voiting = this.voiting;
                voiting.forEach((e) => {
                    this.check.forEach((event) => {
                        if(e.id === event.voiting_id) {
                            e.status = 1
                        }
                        e.items.forEach((ev) => {
                            if(ev.id === event.item_id) {
                                ev.status = 1
                            }
                        })
                    })  

                })

                return voiting
            }
        },
        created() {
            axios.get(`/api/voitings/${this.uid}`)
                .then(res => {
                    this.voiting = res.data.data
                    this.check = res.data.check
                })
                .catch(err => console.log(err))
        },
        methods: {
            to_vote(e, id) {

                let data = {
                    uid: this.uid,
                    voiting_id: id,
                    item_id: $(e.target).find('.input_voite').filter(":checked").data('item')
                }

                axios.post('/api/to_vote', data)
                    .then(res => {
                       location.reload();
                    })
                    .catch(err => console.log(err))
                    
            }
        }
    }
</script>
