/* admin */
html, body {
    height: 100%;
    min-width: 400px;
}

* {
    color: #757575;
}
.ck-content {
    max-height: 600px;
}
*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background: #fafafa;
}
*::-webkit-scrollbar-thumb {
    background: #7bc380;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 5px !important;
}
nav .sidenav-trigger {
    float: unset;
    position: inherit;
    z-index: 1;
    height: auto;
    margin: 0;
}
div#admin-login {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-image: url(/adm/images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: saturate(70%);
}
div#admin-login .preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
div#admin-login .login {
    width: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div#admin-login .preview > h1 {
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 500;
    backdrop-filter: blur(2px);
}
div#admin-login .preview > p {
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    backdrop-filter: blur(2px);
    padding: 10px;
    padding-top: 0;
}

#admin-login.show .login {
    width: 35%;
    padding: 13px;
}


.admin-form {
    width: 100%;
    max-width: 500px;
}

.admin-form > h3 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.admin-form input {
    color: #fff;
}
.admin-form label {
    color: #fff;
}
.admin-form .forgot {
    color: #fff;
}
.admin-form .forgot:hover {
    text-decoration: underline;
}
.admin-form .btn {
    background-color: #1e8f00;
}

div#admin-login > div {
    transition: all .3s ease;
}
.sidenav .collapsible-header {
    padding: 0 32px;
}

.app {
    padding-left: 300px;
    height: 100%;
}

.sidenav {
    backdrop-filter: blur(5px);
    transform: translateX(0px);
    /* border-radius: 0 30px 30px 0; */
    height: 100%;
    background-color: #08554b;
}
.sidenav::-webkit-scrollbar {
    width: 0;
}
.sidenav li > a {
    color: #fff;
}

.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    background-color: #0b6f62;
}

.sidenav > li > a > i.material-icons {
    color: #fff;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}
.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    color: #fff;
}
.sidenav .subheader {
    color: #fff;
}
.sidenav li.active .material-icons {
    color: rgb(229, 243, 33);
}
.sidenav > li:hover:nth-child(1) .material-icons,
.sidenav > li:hover:nth-child(2) .material-icons {
    color: #E91E63;
}
.sidenav > li:hover:nth-child(3) .material-icons {
    color: #F44336;
}
.sidenav > li:hover:nth-child(4) .material-icons {
    color: #9C27B0;
}
.sidenav > li:hover:nth-child(5) .material-icons {
    color: #673AB7;
}
.sidenav > li:hover:nth-child(6) .material-icons {
    color: #2196F3;
}
.sidenav > li:hover:nth-child(7) .material-icons {
    color: rgb(229, 243, 33);
}
.sidenav > li:hover:nth-child(8) .material-icons {
    color: rgb(243, 33, 243);
}

.info {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #fafafa;
    border-radius: 40px 5px;
    padding: 20px;
    margin-top: 20px;
}

.blocks-info .col .info {
    box-shadow: 3px 3px 2px 0px #FFC107;;
}

.blocks-info .col:nth-child(1) .info {
    box-shadow: 3px 3px 2px 0px #FFC107;;
}

.blocks-info .col:nth-child(2) .info {
    box-shadow: 3px 3px 2px 0px #03A9F4;
}

.blocks-info .col:nth-child(3) .info {
    box-shadow: 3px 3px 2px 0px #4CAF50;
}

.blocks-info .col:nth-child(4) .info {
    box-shadow: 3px 3px 2px 0px #E91E63;
}

.blocks-info .col:nth-child(5) .info {
    box-shadow: 3px 3px 2px 0px #03A9F4;
}

.blocks-info .col:nth-child(6) .info {
    box-shadow: 3px 3px 2px 0px #4CAF50;
}

.blocks-info .col:nth-child(7) .info {
    box-shadow: 3px 3px 2px 0px #E91E63;
}

.info > p {
    color: darkgrey;
    margin-top: 0;
}

.info > span {
    text-align: right;
    display: block;
    color: #949494;
    font-size: 25px;
}

.disabled-comment-box,
.news-users-box {
    padding: 10px 0;
    padding-right: 5px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.item {
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.item img {
    max-width: 60px;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.item p {
    margin: 0;
}

.item > .control {
    position: absolute;
    bottom: -30px;
    right: 15px;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}

.item:hover > .control {
    bottom: 0;
}

.item > p {
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
}

.control > a.check:hover > i {
    color: green;
}

.control > a.delete:hover > i {
    color: red;
}

.control > a.home:hover > i {
    color: green;
}

.control > a.edit:hover > i {
    color: rgb(231, 221, 86);
}

.control > a.publish:hover > i {
    color: rgb(83, 186, 245);
}

.control > a.no-publish:hover > i {
    color: rgb(245, 83, 83);
}

.item > .info-comment {
    position: absolute;
    left: 15px;
    bottom: 4px;
}
.item > .info-comment > a {
    color: #d1d1d1;
    font-style: italic;
    font-size: 13px;
    margin-right: 5px
}

.item > .info-comment > span {
    color: #d1d1d1;
    font-size: 13px; 
}
.item > .info-comment > a:hover {
    text-decoration: underline;  
}

.news-users-box > .item {
    justify-content: flex-start;
    align-items: center;
}

table > tbody > tr > td {
    position: relative;
    overflow: hidden;
}


table .control {
    position: absolute;
    right: 20px;
    bottom: -40px;
    transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
}

table > tbody > tr:hover .control {
    bottom: 7px;
}
.btn > span {
    color: #fff;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #757575;
}

.btn, .btn-large, .btn-small {
    background-color: #4caf50;
}
.file {
    border-radius: 6px;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #4caf509e;
}

#image {
    max-height: 500px;
    height: 100%;
    object-fit: contain;
}

table img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

table span.yes {
    background-color: #00BCD4;
    padding: 2px 8px;
    border-radius: 5px;
    color: #f9f9f9;
    padding-top: 0;
}

table span.no {
    background-color: #FFC107;
    padding: 2px 8px;
    border-radius: 5px;
    color: #f9f9f9;
    padding-top: 0;
}
table tbody tr td:last-child {
    width: 20%;
}
.body-block {
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 35px;
    border: 1px solid #fafafa;
    transition: all .3s ease;
    background-color: #fbfbfb;
}

.body-block:hover {
    box-shadow: 0px 2px 10px -4px silver;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #4caf509e;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #4caf50;
}
.chip:focus {
    background-color: #4caf50;
}

.datepicker-date-display {
    background-color: #00BCD4;
}

.datepicker-date-display span {
    color: rgba(255,255,255,0.7);
}

.datepicker-table td.is-selected {
    background-color: #4caf50;
}
button.month-next:focus {
    background-color: transparent;
}
.ck-editor__editable {
    min-height: 300px;
}

.material-tooltip * {
    color: #fff;
}
.datepicker-table td.is-today {
    color: #ffffff;
    background-color: #00bcd4d9;
}

.navbar-fixed nav {
    position: fixed;
    width: calc(100% - 300px);
    background-color: #fff;
    box-shadow: 3px 3px 5px -4px rgba(0,0,0,.2);
}

nav ul a {
    display: flex;
    align-items: center;
    color: #787878;
    padding-left: 0;
    padding-right: 15px;
}

nav ul a i {
    color: #607d8a;
}

span.badge.new {
    background-color: #4caf50;
    border-radius: 50%;
}
span.badge {
    min-width: 25px;
}
span.online {
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
}

span.offline {
    width: 10px;
    height: 10px;
    background-color: #FF5722;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
}

nav ul a:hover {
    background-color: transparent;
}
.pagination li.active {
    background-color: #4caf50;
}

table.users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

p.all-price {
    font-size: 25px;
    color: #4caf50;
    text-align: center;
}

table.products img {
    width: 80px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
}

table.comments a {
    color: #8f8f8f;
    text-decoration: underline;
}
.toast.success {
    background-color: #4caf50;
    color: #fff;
}
.toast.error {
    background-color: #d60202;
    color: #fff;
}
div#chat {
    display: flex;
    min-height: 650px;
    height: 100%;
}

div#chat .user-lists {
    width: 25%;
    border-right: 1px solid #fafafa;
    padding-right: 10px;
}

div#chat .mail-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-control {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid #fafafa;
}

.mail-control > .input-field {
    width: 100%;
}

.mail-control > .buttons {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mail-control > .buttons > .open-smile > i {
    color: #FFEB3B;
}

.mail-control > .buttons > .send > i {
    color: #2196F3;
}

.mail-body > .messages > .message.left > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 0;
}

.mail-body > .messages > .message.right > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 0;
}

.mail-body > .messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.mail-body > .messages > .message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
}
.mail-body > .messages > .message.right {
    flex-direction: row-reverse;
}
.mail-body > .messages > .message > .body {
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: #00bcd426;
    position: relative;
    max-width: 700px;
}
.mail-body > .messages > .message.left > .body {
    background-color: #00bcd426;
}

.mail-body > .messages > .message.right > .body {
    background-color: #8bc34a14;
}

.mail-body > .messages > .message > .body:before {
    content: "";
    position: absolute;
    top: 14px;
    border: 10px solid transparent;
}

.mail-body > .messages > .message.left > .body:before {
    left: -30px;
    border-right: 20px solid #00bcd426;
}

.mail-body > .messages > .message.right > .body:before {
    right: -30px;
    border-left: 20px solid #8bc34a14;
}

.mail-body > .messages > .message > .body > p {
    font-size: 14px;
    margin: 0;
}

.mail-body > .messages > .message >.body > span {
    display: block;
    color: silver;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
}

.mail-body > .messages > .message.left >.body > span {
    right: 10px;
}

.mail-body > .messages > .message >.body.right > span {
    left: 10px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #e8e8e8;
}

.chips {
    border-bottom: 1px solid #e8e8e8;
}
nav {
    background-color: transparent;
    box-shadow: none;
}
.progress {
    background-color: #08554b45;
    display: none;
}
.progress .indeterminate {
    background-color: #4caf50;
}
div#gallery {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 500px;

}
div#gallery.thanks_mail {
    max-height: unset;
}
div#gallery .img {
    max-width: 23%;
    width: 100%;
    height: 200px;
    padding: 5px;
    position: relative;
    margin: 1px;
}
div#gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div#gallery .img span.remove {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin: 10px;
    transition: all.2s ease;
    cursor: pointer;
}

div#gallery .img span.remove > i {
    color: #FF5722;
    text-shadow: 0px 0px 2px #fff;
}
div#gallery .img span.remove:hover > i {
    transform: scale(1.1);
}

div#gallery .img .loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000000b8;
}

div#gallery .img .loadImg {
    display: block;
    width: 60%;
}

#voiting_items {
    margin-bottom: 10px;
}

#voiting_items .input-field {
    position: relative;
    display: flex;
    align-items: center;
}

#voiting_items .input-field .remove-item{
    position: absolute;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#voiting_items .input-field .remove-item i{
    color: #F44336;
}

#voiting_items .input-field .remove-item:hover i{
    color: #f44336ba;
}
.sidenav .user-view .background {
    background-color: #0000000f;
}

.item-menu {
    border: 1px solid #e4e4e4;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

}
.item-menu .title {
    padding: 5px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
}
.item-menu .title span {
    transform: rotate(90deg);
    font-size: 25px;
    line-height: 25px;
    transition: all .3s ease;
}

.item-menu .title .img {
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
    width: 50px;
    height: 40px;
}

.item-menu .title .img .change {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    transition: all .3s ease;
    opacity: 0;
    z-index: -1;
 }

 .item-menu .title .img:hover > .change {
    opacity: 1;
    z-index: 1;
}

.item-menu .title .img > img {
    width: 100%;
    height: 100%;
}

.item-menu .title .remove-item {    
    color: red;
    position: absolute;
    right: 5px;
}

.item-menu .content {
    background-color: #f6f6f6;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
}
.item-menu.open .content {
    height: 84px;
    overflow: unset;
}
.item-menu p {
    margin: 0;
    margin-right: 13px;
}
.item-menu .row {
    margin: 0;
}
.item-menu-placeholder {
    width: 100%;
    height: 37px;
    background-color: #4caf4f1f;
    border-radius: 5px;

}
.images {
    display: flex;
}
.images .big {
    min-width: 540px;
    min-height: 148px;
    max-width: 540px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    max-height: 148px;
    border: 2px solid #307dcb;
}
.images .small {
    min-width: 248px;
    min-height: 148px;
    max-width: 248px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-height: 148px;
    border: 2px solid #307dcb;
}
.images img {
    /* object-fit: cover; */
}
.fancybox-content {
    width: 100% !important;
    height: 75vh !important;
}
.no-cropper {
    position: relative;
}

.no-cropper:before {  
    content: "";
    display: block;
    margin-bottom: 10px;
}
  
.no-cropper:after {  
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

.input-field .helper-text {
    color: #FF9800;
}

.loader {
    width: calc(100% - 300px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    left: 300px;
}
.spinner-red, .spinner-red-only {
    border-color: #08554b;
}

.search-block {
    position: relative;
}

.search-block .input-field {
    margin-bottom: 0;
}

.search-block .result {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    display: none;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 4px 10px -5px #e0e0e0;
    height: auto;
    overflow: scroll;
    max-height: 160px;
}

.search-block .result a {
    color: #4c4c4c;
    padding: 5px;
}
.search-block .result a:hover {
    background-color: rgba(76, 175, 80, 0.09);
}

.tabs .tab a {
    color: rgba(8, 85, 75, 0.55);
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #08554b;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(8, 85, 75, 0.06);
}

.tabs .indicator {
    background-color: #08554ba6;
}