@media(max-width: 1200px) {

    #admin-login.show .login {
        width: 45%;
    }

    #admin-login.show .preview {
        display: none;
    }

    #admin-login.show .login {
        width: 100%;
    }
    .howToViewInPage {
        display: none;
    }
}

@media(max-width : 992px) {
    .app {
        padding-left: 0;
    }
    .navbar-fixed nav {
        width: 100%;
    }
    table .control {
        position: unset;
        margin-top: 15px;
    }
    .howToViewInPage {
        display: none;
    }
}

@media(max-width: 565px) {
    div#admin-login .preview > h1 {
        text-align: center;
        font-size: 19px;
    }
    div#admin-login .preview > p {
        text-align: center;
    }
    nav ul a {
        padding: 0 10px;
    }
    table img:not(.active) {
        width: 80px !important;
        height: 55px !important;
    }
    table > thead > tr > th.image { 
        padding-bottom: 49px;
    }
    table > tbody > tr > td { 
        width: auto !important;
    }
    div#gallery .img {
        height: auto;
    }
}
